.flexItem {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  
button {
  display: flex;
  align-items: center;
  height: 70px;
  width: 150px;
  border-radius: 50px;
  padding: 5px;
  background-color: royalblue;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 20px;
  transition: all 300ms ease-out;
}

button:hover {
  background-color: rgb(37, 73, 180);
  transition: background-color 150ms ease-in;
  border: none;
}